html
    head
        title= title
        link(rel="stylesheet", href="https://sindresorhus.com/github-markdown-css/github-markdown.css")
        style(type="text/css").
            body {
                box-sizing: border-box;
                min-width: 200px;
                max-width: 980px;
                margin: 0 auto;
                padding: 45px;
            }
    body
        article.markdown-body
        
            h2 Список страниц
            table
                each val in list
                    tr
                        td
                            a(href=val)= val
            hr

            include:markdown-it ../doc-ui.md
